<!-- //每篇文章的模板 -->
<head>
	<title><%- page.title %></title>
	<meta charset="utf-8">
	<%- css('css/index') %>
</head>
<body>
	<h3 align="center"><%- page.title %></h3>
	<hr />
	<div class="content" id="p" ><%- page.content %></div>
</body>